In [1]:
import collections
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline
import math

In [2]:
questions = pd.read_csv("input_full/Questions.csv", encoding='latin1')
answers = pd.read_csv("input_full/Answers.csv", encoding='latin1')
tags = pd.read_csv("input_full/Tags.csv", encoding='latin1')

In [6]:
print(len(questions))
questions.iloc[[0]]

1264216

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...

In [7]:

answers.iloc[[0]]

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."

In [8]:
tags.iloc[[0]]

   Id   Tag
0  80  flex

In [9]:
answers[answers['ParentId']==80]

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
336,10008,1109.0,2008-08-13T16:09:09Z,80,6,"<p>The <a href=""http://en.wikipedia.org/wiki/S..."
219787,3770976,364174.0,2010-09-22T15:37:30Z,80,1,<p>What about making your delimiter something ...

In [9]:
idxs = np.random.choice(range(len(questions)),200000)
print(idxs)
considered_questions= questions.iloc[idxs]
considered_questions.to_csv("TrainQuestions.csv")
print(len(considered_questions),len(considered_questions[considered_questions['Id'].isin(answers['ParentId'])]))
considered_answers = answers[answers['ParentId'].isin(considered_questions['Id'])]
print(len(considered_answers))
considered_answers.to_csv("TrainAnswers.csv")
considered_tags = tags[tags['Id'].isin(considered_questions['Id'])]
print(len(considered_tags))
considered_tags.to_csv("TrainTags.csv")

[ 872098  437290    3309 ...,  484842 1072616  944411]
200000 174399
294399
548598

In [7]:
with_answers = questions[questions['Id'].isin(answers['ParentId'])].iloc[:100000]
without_answers = questions[~questions['Id'].isin(answers['ParentId'])].iloc[:100000]

In [8]:
considered_questions =

100000 100000

ValueError: a must be 1-dimensional