In [3]:
import pandas as pd
import os
import copy
from sklearn.cluster import KMeans

In [4]:
filepath = os.getcwd() + '/assignment2/input/TrainTags.csv'
data = pd.read_csv(filepath, encoding='latin1')

In [21]:
data[:5]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Id</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>72</td>
      <td>2120</td>
      <td>sql</td>
    </tr>
    <tr>
      <th>1</th>
      <td>73</td>
      <td>2120</td>
      <td>sql-server</td>
    </tr>
    <tr>
      <th>2</th>
      <td>81</td>
      <td>2540</td>
      <td>c</td>
    </tr>
    <tr>
      <th>3</th>
      <td>82</td>
      <td>2540</td>
      <td>architecture</td>
    </tr>
    <tr>
      <th>4</th>
      <td>83</td>
      <td>2540</td>
      <td>data-structures</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
data.groupby('Id')['Tag'].count().mean()

2.9675617569049431

In [6]:
tagCountSeries = data['Tag'].value_counts()
commonTags = tagCountSeries[:100]
commonTagsSeries = pd.Series(commonTags.index)
commonTags_df = pd.DataFrame({'QnCount':commonTags.values, 'Tag':commonTags.index})

In [7]:
commonTagTotalQnCount = commonTags_df['QnCount'].sum()
def getPopularity(qnCount):
    return qnCount/commonTagTotalQnCount
commonTags_df['Popularity'] = commonTags_df['QnCount'].apply(getPopularity)

In [200]:
# example of looking at one tag row
commonTags_df[commonTags_df['Tag'] == 'sql-server']

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>QnCount</th>
      <th>Tag</th>
      <th>Popularity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>21</th>
      <td>2621</td>
      <td>sql-server</td>
      <td>0.010186</td>
    </tr>
  </tbody>
</table>
</div>

In [211]:
# example of looking at tag's popularity
commonTags_df[commonTags_df['Tag'] == 'sql-server']['Popularity']

21    0.010186
Name: Popularity, dtype: float64

In [2]:
len(commonTags_df)

NameError: name 'commonTags_df' is not defined

In [ ]:
# Getting a list of all unique tags in data set
tags = data['Tag'].unique().tolist()
print(tags[:10])
print(tags.index('getter'))

In [40]:
qnids = data['Id'].unique()

185121

In [41]:
# method to one hot encode all tags
def one_hot_encode_tags(tags_list):
    #create an array of 0s for all tags, + 1 for unknown tags
    encoded_tag = [0] * (len(tags) + 1)
    for tag in tags_list:
        index = tags.index(tag) if tag in tags else -1
        encoded_tag[index] = 1
    return encoded_tag

In [192]:
# method to one hot encode most common tags (currently top 100)
def oneHotEncode_common_tags(tags_list):
    return commonTagsSeries.isin(tags_list).apply(int).tolist()

In [ ]:
tags_by_qn = data.groupby('Id')['Tag'].apply(list)
tags_by_qn_df = pd.DataFrame({'qnid':tags_by_qn.index, 'tags':tags_by_qn.values})

In [289]:
tags_by_qn_df[:10]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qnid</th>
      <th>tags</th>
      <th>encoded_tags</th>
      <th>avg_popularity</th>
      <th>max_popularity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2120</td>
      <td>[sql, sql-server]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...</td>
      <td>0.015410</td>
      <td>0.020633</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2540</td>
      <td>[c, architecture, data-structures]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.004440</td>
      <td>0.013319</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2630</td>
      <td>[powershell, cmdlets]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2750</td>
      <td>[optimization, setter, getter, verification]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2840</td>
      <td>[sql, sql-server-2005, paging]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...</td>
      <td>0.006878</td>
      <td>0.020633</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4860</td>
      <td>[xml, xml-signature]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.004240</td>
      <td>0.008480</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6110</td>
      <td>[database]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.006918</td>
      <td>0.006918</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7190</td>
      <td>[svn, continuous-integration]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7540</td>
      <td>[javascript, firefox, memory, cpu]</td>
      <td>[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.017683</td>
      <td>0.070732</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8790</td>
      <td>[ant, build-process]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [206]:
# One hot encode all tags
# Notes : Takes too long
tags_by_qn_df['encoded_tags'] = tags_by_qn_df['tags'].apply(oneHotEncode_common_tags)

In [261]:
def getQnPopularityScore(tag_list):
    avg_popularity = 0
    max_popularity = 0
    tags_popularity = commonTags_df[commonTags_df['Tag'].isin(tag_list)]['Popularity']
    if len(tags_popularity) > 0:
        avg_popularity = sum(tags_popularity)/len(tag_list)
        max_popularity = max(tags_popularity)
    return avg_popularity,max_popularity

In [ ]:
# Get Popularity score of all Qns based on rating of common tags
tags_by_qn_df['avg_popularity'],tags_by_qn_df['max_popularity'] = \
    zip(*tags_by_qn_df['tags'].map(getQnPopularityScore))

In [290]:
tags_by_qn_df[:10]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qnid</th>
      <th>tags</th>
      <th>encoded_tags</th>
      <th>avg_popularity</th>
      <th>max_popularity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2120</td>
      <td>[sql, sql-server]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...</td>
      <td>0.015410</td>
      <td>0.020633</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2540</td>
      <td>[c, architecture, data-structures]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.004440</td>
      <td>0.013319</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2630</td>
      <td>[powershell, cmdlets]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2750</td>
      <td>[optimization, setter, getter, verification]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2840</td>
      <td>[sql, sql-server-2005, paging]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...</td>
      <td>0.006878</td>
      <td>0.020633</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4860</td>
      <td>[xml, xml-signature]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.004240</td>
      <td>0.008480</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6110</td>
      <td>[database]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.006918</td>
      <td>0.006918</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7190</td>
      <td>[svn, continuous-integration]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7540</td>
      <td>[javascript, firefox, memory, cpu]</td>
      <td>[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.017683</td>
      <td>0.070732</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8790</td>
      <td>[ant, build-process]</td>
      <td>[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [282]:
# export data
tags_by_qn_df.to_csv('tags_features.csv')

In [ ]:
X = tags_by_qn_df['encoded_tags']
kmeans = KMeans(n_clusters=100, random_state=0).fit(X.tolist())

In [113]:
tags_by_qn_df_small = copy.deepcopy(tags_by_qn_df[:10])
tags_by_qn_df_small['encoded_tags'] = tags_by_qn_df_small['tags'].apply(one_hot_encode_tags)

In [ ]:
# X = []
# for qnid, tag_list in tags_by_qn.iteritems():
#     feature_row = one_hot_encode_tags(tag_list)
#     feature_row.insert(0,qnid)
#     X.append(feature_row)

In [ ]:
def tags_for_qn(qnid):
    qn_tags = data[data['Id'] == qnid]
    qn_tags_list = []
    for t in qn_tags.itertuples():
        qn_tags_list.append(t[3])

    return qn_tags_list

qnids = data['Id'].unique()
print(len(qnids))

In [ ]:
# Each row is [qnid ,  1-hot-encoding of qns tags]
X = [[qn, one_hot_encode_tags(tags_for_qn(qn))] for qn in qnids[:10000]]

In [6]:
data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Id</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>72</td>
      <td>2120</td>
      <td>sql</td>
    </tr>
    <tr>
      <th>1</th>
      <td>73</td>
      <td>2120</td>
      <td>sql-server</td>
    </tr>
    <tr>
      <th>2</th>
      <td>81</td>
      <td>2540</td>
      <td>c</td>
    </tr>
    <tr>
      <th>3</th>
      <td>82</td>
      <td>2540</td>
      <td>architecture</td>
    </tr>
    <tr>
      <th>4</th>
      <td>83</td>
      <td>2540</td>
      <td>data-structures</td>
    </tr>
    <tr>
      <th>5</th>
      <td>88</td>
      <td>2630</td>
      <td>powershell</td>
    </tr>
    <tr>
      <th>6</th>
      <td>89</td>
      <td>2630</td>
      <td>cmdlets</td>
    </tr>
    <tr>
      <th>7</th>
      <td>90</td>
      <td>2750</td>
      <td>optimization</td>
    </tr>
    <tr>
      <th>8</th>
      <td>91</td>
      <td>2750</td>
      <td>setter</td>
    </tr>
    <tr>
      <th>9</th>
      <td>92</td>
      <td>2750</td>
      <td>getter</td>
    </tr>
    <tr>
      <th>10</th>
      <td>93</td>
      <td>2750</td>
      <td>verification</td>
    </tr>
    <tr>
      <th>11</th>
      <td>99</td>
      <td>2840</td>
      <td>sql</td>
    </tr>
    <tr>
      <th>12</th>
      <td>100</td>
      <td>2840</td>
      <td>sql-server-2005</td>
    </tr>
    <tr>
      <th>13</th>
      <td>101</td>
      <td>2840</td>
      <td>paging</td>
    </tr>
    <tr>
      <th>14</th>
      <td>154</td>
      <td>4860</td>
      <td>xml</td>
    </tr>
    <tr>
      <th>15</th>
      <td>155</td>
      <td>4860</td>
      <td>xml-signature</td>
    </tr>
    <tr>
      <th>16</th>
      <td>179</td>
      <td>6110</td>
      <td>database</td>
    </tr>
    <tr>
      <th>17</th>
      <td>198</td>
      <td>7190</td>
      <td>svn</td>
    </tr>
    <tr>
      <th>18</th>
      <td>199</td>
      <td>7190</td>
      <td>continuous-integration</td>
    </tr>
    <tr>
      <th>19</th>
      <td>207</td>
      <td>7540</td>
      <td>javascript</td>
    </tr>
    <tr>
      <th>20</th>
      <td>208</td>
      <td>7540</td>
      <td>firefox</td>
    </tr>
    <tr>
      <th>21</th>
      <td>209</td>
      <td>7540</td>
      <td>memory</td>
    </tr>
    <tr>
      <th>22</th>
      <td>210</td>
      <td>7540</td>
      <td>cpu</td>
    </tr>
    <tr>
      <th>23</th>
      <td>232</td>
      <td>8790</td>
      <td>ant</td>
    </tr>
    <tr>
      <th>24</th>
      <td>233</td>
      <td>8790</td>
      <td>build-process</td>
    </tr>
    <tr>
      <th>25</th>
      <td>234</td>
      <td>8800</td>
      <td>c#</td>
    </tr>
    <tr>
      <th>26</th>
      <td>235</td>
      <td>8800</td>
      <td>data-structures</td>
    </tr>
    <tr>
      <th>27</th>
      <td>236</td>
      <td>8800</td>
      <td>collections</td>
    </tr>
    <tr>
      <th>28</th>
      <td>253</td>
      <td>9240</td>
      <td>architecture</td>
    </tr>
    <tr>
      <th>29</th>
      <td>259</td>
      <td>9570</td>
      <td>linker</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>549348</th>
      <td>3750812</td>
      <td>40141910</td>
      <td>server</td>
    </tr>
    <tr>
      <th>549349</th>
      <td>3750813</td>
      <td>40141910</td>
      <td>apache-tika</td>
    </tr>
    <tr>
      <th>549350</th>
      <td>3750814</td>
      <td>40141910</td>
      <td>rft</td>
    </tr>
    <tr>
      <th>549351</th>
      <td>3750823</td>
      <td>40141980</td>
      <td>c#</td>
    </tr>
    <tr>
      <th>549352</th>
      <td>3750824</td>
      <td>40141980</td>
      <td>.net</td>
    </tr>
    <tr>
      <th>549353</th>
      <td>3750825</td>
      <td>40141980</td>
      <td>json</td>
    </tr>
    <tr>
      <th>549354</th>
      <td>3750826</td>
      <td>40141980</td>
      <td>stream</td>
    </tr>
    <tr>
      <th>549355</th>
      <td>3750827</td>
      <td>40141980</td>
      <td>streamreader</td>
    </tr>
    <tr>
      <th>549356</th>
      <td>3750828</td>
      <td>40142000</td>
      <td>c#</td>
    </tr>
    <tr>
      <th>549357</th>
      <td>3750829</td>
      <td>40142000</td>
      <td>xml</td>
    </tr>
    <tr>
      <th>549358</th>
      <td>3750830</td>
      <td>40142000</td>
      <td>outlook</td>
    </tr>
    <tr>
      <th>549359</th>
      <td>3750837</td>
      <td>40142060</td>
      <td>go</td>
    </tr>
    <tr>
      <th>549360</th>
      <td>3750838</td>
      <td>40142060</td>
      <td>error-handling</td>
    </tr>
    <tr>
      <th>549361</th>
      <td>3750841</td>
      <td>40142110</td>
      <td>gradle</td>
    </tr>
    <tr>
      <th>549362</th>
      <td>3750857</td>
      <td>40142210</td>
      <td>c</td>
    </tr>
    <tr>
      <th>549363</th>
      <td>3750858</td>
      <td>40142210</td>
      <td>linux</td>
    </tr>
    <tr>
      <th>549364</th>
      <td>3750859</td>
      <td>40142210</td>
      <td>fopen</td>
    </tr>
    <tr>
      <th>549365</th>
      <td>3750874</td>
      <td>40142310</td>
      <td>android-studio</td>
    </tr>
    <tr>
      <th>549366</th>
      <td>3750875</td>
      <td>40142310</td>
      <td>intellij-idea</td>
    </tr>
    <tr>
      <th>549367</th>
      <td>3750885</td>
      <td>40142370</td>
      <td>c</td>
    </tr>
    <tr>
      <th>549368</th>
      <td>3750894</td>
      <td>40142450</td>
      <td>c#</td>
    </tr>
    <tr>
      <th>549369</th>
      <td>3750895</td>
      <td>40142450</td>
      <td>multithreading</td>
    </tr>
    <tr>
      <th>549370</th>
      <td>3750896</td>
      <td>40142450</td>
      <td>events</td>
    </tr>
    <tr>
      <th>549371</th>
      <td>3750921</td>
      <td>40142600</td>
      <td>python</td>
    </tr>
    <tr>
      <th>549372</th>
      <td>3750931</td>
      <td>40142750</td>
      <td>amazon-dynamodb</td>
    </tr>
    <tr>
      <th>549373</th>
      <td>3750935</td>
      <td>40142790</td>
      <td>c++</td>
    </tr>
    <tr>
      <th>549374</th>
      <td>3750950</td>
      <td>40142880</td>
      <td>cmake</td>
    </tr>
    <tr>
      <th>549375</th>
      <td>3750951</td>
      <td>40142880</td>
      <td>cross-compiling</td>
    </tr>
    <tr>
      <th>549376</th>
      <td>3750962</td>
      <td>40142940</td>
      <td>c++</td>
    </tr>
    <tr>
      <th>549377</th>
      <td>3750986</td>
      <td>40143300</td>
      <td>google-bigquery</td>
    </tr>
  </tbody>
</table>
<p>549378 rows Ã— 3 columns</p>
</div>